<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generate Form</title>
</head>
<body>
    <h1>Generate Form Page</h1>

    <form th:action="@{/generativeforms/create}" method="post" th:object="${Generativeform}">

        <label for="formName">Form Name:</label><br>
        <input type="text"
         id="formName" 
         th:field="*{formname}"
         name="formName"><br><br>

         
        <label for="formDescription">Form Description:</label><br>
        <textarea id="formDescription"
         name="formDescription" th:field="*{formdescription}"></textarea><br><br>

            <label for="Items">Select Items:</label><br>
            <h3>Line Items</h3>

        <table border="1">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="itemTableBody">
                <tr>
                    <td>
                        <select name="GenerateitemId[]">
                <th:block th:each="item : ${items}">
                    <option th:value="${item.itemId}" th:text="${item.itemName}"></option>
                </th:block>
                        </select>
                    </td>
                    <td>
                        <input type="number" name="Prices[]" value="1" min="1">
                    </td>
                    <td>
                        <button type="button" onclick="addRow(this)">+</button>
                    </td>
                </tr>
            </tbody>
        </table><br>
         <button type="submit">Generate Form</button>
    </form>
    <script  th:src="@{/GenarateformStatics/script.js}"> </script>
</body>
</html>